*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: #D4232B;
    --secondary-color: #e64e03;
    --txt-color: #bcbcbc;

}
html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top:20px;
}
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
a,ul{
    list-style: none;
    text-decoration: none;
}
section{
    width: 100%;
    padding: 50px;
}
#home{
    background-image: url('../img/danielle-macinnes-logv9s7f67o-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    padding: 0;
    position: relative;
}
header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   font-weight: 500;
   z-index: 900;
   transition: 0.25s;
}
.sticky{
    padding: 10px 10%;
    background: #E64E03;
    width: 100%;
}
.sticky #logo{
    color: white;
}
.sticky .navigation li a:hover{
    color:#BCBCBC;
}
#logo{
    font-size: 30px;
    font-weight: bold;
    transition: 0.25s;
    color: var(--primary-color)
}
.navigation{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navigation li a{
    padding: 10px;
    text-transform: uppercase;
    transition: 0.25s;
    color:white;
}
.navigation li a:hover{
    color: var(--primary-color);
}
.nav-phone{
    display: flex;
    align-items: center;
    gap: 20px;
    color:white;
    transition: 0.25s;
}
.nav-phone:hover{
    color:var(--primary-color)
}
.sticky .nav-phone:hover{
    color: #BCBCBC;
}
.container-home{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.container-home h1{
    font-size: 30px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
}
.container-home p{
    font-size: 20px;
    margin-bottom: 25px;
    color:white;
}
#btn-call{
    background: var(--secondary-color);
   
    border-radius: 8px;
    padding: 10px 45px;
    text-transform: uppercase;
    transition: 0.25s;
    font-weight: bold;
    color:white;
}

#btn-call:hover{
    background: var(--primary-color);
}   
#produtos{
    color: var(--txt-color);
    
}
.title{
    text-align: center;
    font-weight: bold;
    font-size:28px;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.container-produtos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.card-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #575757;
    font-weight: 500;
    width: 300px;
    height: 390px;
    padding: 10px;
    text-align: center;
}
.card-produto img{
    width: 200px;
}
.card-produto h3{
    color: #4B4B4B;
    font-weight: bold;
    text-transform: uppercase;
}
.tamanhos{
    display: flex;
    gap: 10px;
}
.tamanhos > div{
    margin-top: 20px;
    border: 2px solid var(--primary-color);
    text-align: center;
    padding: 5px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    color: black;
    cursor:pointer;
    transition: 0.25s;
}
.tamanhos > div:hover{
    background: var(--primary-color);
    color: white;
}
#contato{
    text-align: center;
    background: #1C1C1C;
    padding: 50px;
}
.container-contato{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
}
.card-contato{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}
.card-contato a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.25s;
}
.card-contato a:hover{
    color: var(--primary-color);
}

footer{
    background: black;
    display: flex;
    align-items:flex-start;
    padding: 50px;
    justify-content: space-around;
    color:white;
    text-align: center;
}
.logo-footer h1{
    color: var(--primary-color);
    margin: 0;
}
.social-media{
    display: flex;
    gap:10px;
    justify-content: center;
    margin-top: 10px;
}
.social-media img{
    width: 32px;
}
.horario{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}
.horario img{
    width: 25px;
}

@media (max-width:600px){
    body,html{
        width: 100%;
    }
    .navigation{
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: center;
        font-size: 24px;
        letter-spacing: 2px;
        background: var(--secondary-color);
        opacity: 0;
        visibility: hidden;
        transition: 0.25s;
    }
    .toggleMenu{
        width: 30px;
        height: 30px;
        background: url('./img/menu.png');
        background-repeat: no-repeat;
        background-position:center;
        cursor: pointer;
        z-index: 9000;
    }
    .toggleMenu.active{
        background: url('./img/close.png');
    }
    .show-menu{
        opacity: 1;
        visibility: visible;
    }
    .nav-phone{
        display: none;
    }
    header{
        width: 100%;
        padding:10px 32px;
        background:#E64E03 ;
    }
    section{
        width: 100%;
    }
    header #logo{
        color: white;
    }

    .container-home p{
        font-weight: 700;
    }

    .container-contato{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .horario{
        flex-direction: column;
    }
}